.navbar {
    background: var(--secondary);
  }

  /* navbar */
.navbar nav {
    padding: 20px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar nav h1 {
    border-bottom: 3px solid var(--primary);
  }

  .navbar nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    color: white;
    user-select: none;
  }
  
  .logoutButton{
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    user-select: none;
    font-size: 1rem;
    background: none;
  }
  

  .navbar nav .logo {
    margin-right: auto;
    padding: 0;
  }


  .navbar a:hover {
    color: silver;
    background: var(--primary);
    opacity: 0.6;
  }



  .navbar a.active {
    background: var(--primary);
    color: white;
  }

  .logoutButton:hover{
    background: var(--primary);
    opacity: 0.6;
    color: silver;
  }
  