.blogNavbar {
    display: flex;
    justify-content: center;   
    margin: 30px auto;   
}

.blogNavbar nav {
    display: flex;
    align-items: center;
    gap: 100px;
    
}

.blogNavbar a {
    background: var(--primary);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    user-select: none;
}

.blogNavbar a.active {
    background-color: orangered;
}


.blogNavbar a:hover {
    background-color: orangered;
    color: white;
    opacity: 0.6;
    transition: background-color 0.3s ease;
}